

ul.head{
          list-style: none;
}

h1 ,h2{
          color: #AEAC3A;

          background-color: #F0F0F0;

          text-decoration: underline;
}

h1{
          text-align:center
}



p{
          font-style: italic;

          background-color:#FFFFA8 ;
}

div.valid{
          text-align: end;
}

