
body{
       background-image: url(../image/silverware.jpg) ;
}
ul.head{
          list-style: none;
}

h1 ,h2{
          color: #AEAC3A;

          background-color: #F0F0F0;

          text-decoration: underline;

          letter-spacing: 0.25em;
          

          
}




h1{
     
text-align: center;
      
}



h2{
      display: inline-flex;
        
}





p{
          font-style: italic;

          background-color:#FFFFA8 ;
}

div.valid{
          text-align: end;
}

p.copyright{

          background-color: white;
          text-align: end;
          font-style: normal;
}


ul.ingridents{

        
list-style :"\2B29";


}


ul.twoDirection {

       list-style:"\2B26" ;  
       
}
ul.threeDirection{
          list-style:"\2B26" ; 


}

li{
          padding-left: 1vw;
          
          
}

span.show{display: none;}
          

span.hoveroverme + span.show {
          display: block;
          color: #ee1616;
}

span.hide{
          display: none;
}

span.myDIV:hover + span.hide{

          display: block;
          color: red;
}

span.bold{

       font-weight: bold ;
      
}


